# Java build outputs
target/
build/
*.class
.metadata/

*.env
application.properties
application.yml


# Maven wrapper
!.mvn/wrapper/maven-wrapper.jar

# IDEs
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
